<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <span class="parkeve_logo_header"><%= link_to image_tag("parkeve.png", size: "50x50", alt: "Parkeve logo"),
            'root_path' %></span>
    <span id="logo">PARKEVE</span>
    <nav>
      <ul class="nav navbar-nav navbar-right" id="link_navi">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Propietor", propietor_path %></li>
        <li><%= link_to "Sign Up", signup_path %></li>
        <li><%= link_to "Log In", login_path %></li>
      </ul>
    </nav>
  </div>
</header>